<app-navbar></app-navbar>
  <div class="container mt-3">
    <fieldset>
      <div class="row" style="margin-left: 20%">
        <div class="col-lg-8">
            
          <div class="form-group">
              <input type="text" [(ngModel)]='city' class="form-control" id="city" placeholder="eg. Paris">
            </div>
        </div>
        <div class="col-lg-4 " >
            <button  (click)="getWeather()" class="btn btn-primary">Find</button>
        </div>
      </div>
      
    </fieldset>
  </div> 
  <div>
      <app-current-weather [currentDay] = currentWeather></app-current-weather>
  </div>
<div class="container mt-1" style="padding-left: 20%">
    <table class="table table-hover" style="width: 70%">   
        <tbody>
          <tr class="" *ngFor="let dayWeather of forcastWeather;" style="border-top: 1px solid #333">
              <app-weather [forcastWeather] = dayWeather></app-weather>
          </tr>
        </tbody>
    </table> 
</div>
<router-outlet></router-outlet>
